{% extends 'layout.html.twig' %}

{% block body %}
    <br><br>
    <h1> Mentions légales du site </h1>
    <br>
    <br>
    <article style="text-align: justify;-ms-text-justify: inter-word;text-justify: inter-word;">
    <h2>Mention « site web ». </h2> La première obligation vise tous les éditeurs de site web qui exploitent un site à titre professionnel. Cette obligation touche en pratique tous les sites web, réseaux sociaux et autres qui ne sont pas strictement personnels. En d’autres termes, cette obligation concerne les sites web des établissements d’enseignement mais aussi les sites des associations d’élèves, de professeurs ou de parents.

    Il est obligatoire d’indiquer sur le site les informations suivantes :

    si l’éditeur du site est une personne physique, les informations sont ses nom, prénoms, domicile et numéro de téléphone. Toutefois, il lui est possible de garder son anonymat, dès lors que les coordonnées exactes de l’éditeur ont été transmises à l’hébergeur ;
    si l’éditeur est une personne morale (établissement), il faut indiquer sa dénomination ou raison sociale et siège social, son numéro de téléphone et, s’il s’agit d’une entreprise assujettie aux formalités d’inscription au registre du commerce et des sociétés ou au répertoire des métiers, le numéro de son inscription, son capital social, l’adresse de son siège social.
    Et dans les deux cas, il convient de préciser :

    le nom du directeur ou du codirecteur de la publication et, le cas échéant, celui du responsable de la rédaction au sens de l’article 93-2 de la loi n° 82-652 du 29 juillet 1982, qui est, sauf dispositions particulières, la personne physique ou le responsable légal de la personne qui édite le site ;
    le nom, la dénomination ou la raison sociale et l’adresse et le numéro de téléphone de l’hébergeur.
    Lorsque l’éditeur est une personne immatriculée, elle doit préciser un certain nombre d’informations relatives à son immatriculation (numéro RCS, lieu du siège social…).

    Ces informations sont obligatoires. Leur absence est sanctionnée d’une peine d’un an d’emprisonnement et de 75 000 euros d’amende[1].

    Elles doivent être d’un accès facile et permanent sur un « standard ouvert »[2]. Il est conseillé de faire figurer un lien vers ces informations sur toutes les pages du site internet.

    Ces informations sont souvent dans un onglet spécifique et s’appellent « mentions légales » ou « notice légale ».

    <h2>Mention « données à caractère personnel ».</h2> La seconde obligation vise l’hypothèse où des données à caractère personnel sont recueillies sur le site web. Lorsque l’on collecte des données à caractère personnel, il est obligatoire de réaliser les formalités adéquates auprès de la CNIL.

    Il existe néanmoins une exception pour les sites de particuliers dans le cadre d’activités exclusivement personnelles qui sont dispensés de cette formalité[3], ainsi que quelques cas de dispense répertoriés sur le site de la CNIL[4].

    Néanmoins, même si l’on bénéficie d’une dispense, il est nécessaire d’informer les personnes concernées de la collecte de leurs données. À ce titre, il faut indiquer :

    l’identité de la personne qui assure la gestion des données à caractère personnel ;
    à quoi est destinée la collecte des données à caractère personnel ;
    le caractère obligatoire ou facultatif de donner ses données ;
    les conséquences éventuelles, à son égard, d’un défaut de réponse ;
    à qui sont transmises les données ;
    les droits dont disposent les personnes dont les données sont collectées (accès, opposition, rectification et suppression des données) ;
    si des transferts de données à caractère personnel sont envisagés à destination d’un État non membre de l’Union européenne[5].
    Mention « formulaire en ligne ». Si le site comporte des formulaires en ligne de collecte d’information, sous quelque forme que ce soit et pour quelque raison que ce soit, il existe une obligation particulière issue de la loi « Informatique et libertés » d’informer la personne auprès de laquelle sont recueillies des données à caractère personnel la concernant, notamment (article 32-I[6]) :

    de la finalité de la collecte et du traitement de ses données ;
    du caractère obligatoire ou facultatif des réponses ;
    de ses droits d’accès et de rectification, ainsi que de son droit d’opposition ;
    de l’identité du responsable du traitement.
    Mention « cookies ». La troisième obligation vise la mise en place de cookies sur le site. Lorsque des cookies sont présents sur un site, il est obligatoire d’informer l’internaute par un bandeau ou tout autre moyen[7]. Sauf exceptions, l’internaute doit expressément accepter l’utilisation d’un cookie (voir fiche « Cookies »).

    <h2>Mention « e-commerce ».</h2> La quatrième obligation concerne exclusivement les sites ayant une activité de commerce électronique. La loi leur impose des informations supplémentaires qui doivent figurer sur le site. Ces informations sont énoncées à l’article 19 de la loi du 21 juin 2004. Par exemple, dans certains lycées professionnels, les élèves peuvent créer des juniors-entreprises, susceptibles de se conformer à cette obligation. Il convient de souligner que deux nouvelles mentions sont obligatoires depuis 2014 : les moyens de paiement acceptés et les modes de livraison.

    <h2>Mention « droit d’auteur ».</h2> La dernière mention relève des dispositions du Code de la propriété intellectuelle. Il convient de rappeler que le site web est une œuvre de l’esprit à part entière protégée par le Code de la propriété intellectuelle. Il est alors conseillé de faire figurer les conditions d’utilisation, voire de réutilisation, consenties aux visiteurs.

    Enfin, il convient de rappeler le nom de l’auteur et/ou sa source sous chaque œuvre protégée (photo notamment), ou de prévoir une page répertoriant tous les crédits, et de s’assurer qu’on détient les droits d’utiliser les œuvres.

    <h2>Illustration</h2>
    Les juges sont peu enclins à sanctionner le défaut de mentions légales sur la base de l’article 6 de la loi pour la confiance dans l’économie numérique.

    Il n’existe, pour l’heure, qu’une seule décision judiciaire dans le domaine, celle concernant le site internet LeMonde.fr, lequel avait publié un article évoquant une vidéo qui renvoyait à un blog. À la suite de cet article, l’éditeur du blog a voulu exercer son droit de réponse et l’a adressé au journal Le Monde alors que LeMonde.fr est une structure juridique bien distincte.

    Il a alors assigné en justice le site LeMonde.fr au motif que ce dernier n’avait pas inséré les mentions légales suffisantes pour permettre l’identification de l’éditeur du site.

    Or, le tribunal n’a pas sanctionné le site LeMonde.fr alors que ce dernier n’avait pas respecté entièrement le formalisme imposé par la loi. Les juges ont considéré que la mention de la dénomination sociale et de l’adresse postale de la société éditrice suffisait pour la mise en œuvre du droit de réponse[8].

    Il convient cependant d’être prudent dans la mesure où une seule décision de justice ne crée pas à elle seule un courant jurisprudentiel.
    </article>

{% endblock %}
